
   /* Mobile Web Design */
@media (max-width: 425px) {

  /* Body */
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(1,15,85);
    background: -moz-radial-gradient(circle, rgba(1,15,85,1) 0%, rgba(97,31,44,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(1,15,85,1) 0%, rgba(97,31,44,1) 100%);
    background: radial-gradient(circle, rgba(1,15,85,1) 0%, rgba(97,31,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#010f55",endColorstr="#611f2c",GradientType=1);
  }

  main {
    width: 100%;
    height: 100%;
  }

  .home {
    width: 80%;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex inline;
    align-items: center;
  }

  .home h1 {
    font-size: 2rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    width: 100%;
    font-variant: small-caps;
  }

  .profile-picture {
    width: 70%;
    height: auto;
    border-radius: 5px;
    border: 1px solid white;
  }


  /* Hide the speakers */
  .speaker-box {
    display: none;
  }


}


  /* Ipad Air Design */
@media (min-width: 820px) and (max-width: 1024px) {  
  body {
    background: green;
  }

  /* Hide the speakers */
  .speaker-box {
    display: none;
  }
}

  /* Desktop Web Design */
@media (min-width: 1024px) {

  /* Body */
  body {
    width:100%;
    /* height: 100vh; */
    height: 100%;
    font-family: open sans;
    display:flex;
    justify-content:center;
    align-items: center;
  }
  
  /* TV-scherm */
  .tv-large {
    
  }
  
  

  
 
}


